

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
     <h2 align="center">{{title}}!!</h2>
      </div>
      <ul class="nav nav-pills">
        <li class="nav-item">
    <a routerLink="home" active routerLinkActive="active" id="home" class="headerlink">Home</a>
        </li>
        <li class="nav-item">
    <a routerLink="about" id="about" class="headerlink">About</a>
        </li>
        <li class="nav-item">
    <a routerLink="dashboard" id="dashboard" class="headerlink">Dashboard</a>
        </li>
      </ul>

    </div>
  </nav>
  <router-outlet></router-outlet>

